@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron">
	<h1>Hello, Cloud Challendge!</h1>
	<p>This is a page of PhD student at University of Luxembourg/Security and Trust</p>
<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">I just entered for a chance to win $1000 with <a href="https://twitter.com/MSFTImagine">@@MSFTImagine</a> <a href="https://twitter.com/hashtag/HelloCloudSweepstakes?src=hash">#HelloCloudSweepstakes</a> by leveraging the power of <a href="https://twitter.com/hashtag/Azure?src=hash">#Azure</a>! <a href="https://t.co/BtXxAvBNqX">https://t.co/BtXxAvBNqX</a></p>&mdash; Alexandr Pilgun (@@samsancho) <a href="https://twitter.com/samsancho/status/845740677480796162">March 25, 2017</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>